/* loading.css */

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a; /* Màu nền tối */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 100px;
    height: 100px;
    background-image: url('cloud.png');
    background-size: cover;
    filter: brightness(2); /* Điều chỉnh độ sáng của đám mây */
    animation: moveCloud 4s linear infinite, glow 2s ease-in-out infinite; /* Thêm hiệu ứng sáng lung linh */
}

@keyframes moveCloud {
    0%, 100% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
}

@keyframes glow {
    0%, 100% {
        filter: brightness(2); /* Đảm bảo giữ nguyên độ sáng ở hai đầu của chu kỳ */
    }
    50% {
        filter: brightness(5); /* Điều chỉnh độ sáng cao nhất ở giữa chu kỳ */
    }
}