/* loading.css */

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 152, 219, 0.8); /* Màu xanh da trời với độ trong suốt */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 100px;
    height: 100px;
    background-image: url('/img/favicon.png');
    background-size: cover;
    animation: moveCloud 4s linear infinite;
}

@keyframes moveCloud {
    0%, 100% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
}